Watchdog Flow.json
[{"id":"ce904bf6.d38e78","type":"mqtt in","z":"f0b1d44a.856c58","name":"heartbeat","topic":"heartbeatHUB/#","qos":"0","datatype":"utf8","broker":"3ca313b8.542abc","x":380,"y":480,"wires":[["e25b5160.5c861"]]},{"id":"d023a363.af34f","type":"function","z":"f0b1d44a.856c58","name":"Create Message","func":"hi= msg.payload;\npayload={chatId:876235944,\ntype:\"message\",\ncontent: hi\n};\nreturn {payload};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":480,"wires":[["4f9c00fa.1afe7"]]},{"id":"e25b5160.5c861","type":"timeout","z":"f0b1d44a.856c58","name":"My Timeout","outtopic":"Off","outsafe":"","outwarning":"","outunsafe":"Hub stopped working","warning":"10","timer":"60","repeat":false,"again":true,"x":650,"y":480,"wires":[["d023a363.af34f"]]},{"id":"4f9c00fa.1afe7","type":"telegram sender","z":"f0b1d44a.856c58","name":"AlarmBot","bot":"f181a11d.afdf1","haserroroutput":false,"outputs":1,"x":1080,"y":480,"wires":[[]]},{"id":"3cb92441.b6433c","type":"inject","z":"f0b1d44a.856c58","name":"","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"heartbeatHUB","payloadType":"str","x":470,"y":780,"wires":[["3c74ee67.560a82","7288b6fb.7ed208"]]},{"id":"3c74ee67.560a82","type":"mqtt out","z":"f0b1d44a.856c58","name":"Heartbeat","topic":"heartbeatHUB","qos":"0","retain":"false","broker":"3ca313b8.542abc","x":780,"y":780,"wires":[]},{"id":"7288b6fb.7ed208","type":"debug","z":"f0b1d44a.856c58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":860,"wires":[]},{"id":"3ca313b8.542abc","type":"mqtt-broker","name":"Hub","broker":"192.168.0.203","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f181a11d.afdf1","type":"telegram bot","botname":"sensorsIOTalarmBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]